<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/ejs.css" />
    <title>Productos EJS</title>

</head>

<body>
    <h1>Productos EJS</h1>
    <p>Hobbies</p>
    <% for (let i=1; i<=10; i++){%>
        <div>
            <label for="" name="nombre">Nombre <%=i%> </label>
            <input type="text" name="hobbies[]">
        </div>
        <% }%>
        <br>
        <div> 
            <p>Personas</p>
            <% for (let person of personas ){ %>
                <li>
                    Hola , soy <%= person.nombre + " "  + person.apellido%>
                </li>

            <%}%>
        </div>


</body>

</html>